a:hover {
  color: #4d40e8 !important;
}
#contact-us a {
  text-decoration: none;
}
.myicons {
  margin-top: -2px;
}
.whatsappLink {
  color: #14b851 !important;
}
#map {
  max-width: 95%;
}


/* Ticker tape 
-------------------------*/
.ticker-wrapper {
  width: 100%;
  overflow: hidden;
  background: #031226; /* optional background */
}

.ticker {
  display: flex;
  width: max-content;
  animation: scroll-left 40s linear infinite;
}

.ticker img {
  width: 348px; /* adjust to your needs */
  height: auto;
  margin-right: 10px; /* spacing between images */
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
